/* -------------------------------------------------------- */
/*--------------- Variáveis globais do sistema ------------ */
/* -------------------------------------------------------- */

/* Cores do tema do sistema */
$primary: #122937 !default;
$secondary: #113f67 !default;
$success: #66BB6A !default;
$info: #17a2b8 !default;
$warning: #FFA726 !default;
$danger: #F56C6C !default;
$light: #efefef !default;
$dark: #353B48 !default;

// Background
$default-background-color: #F4F4F4;
$secondary-background-color: #282728;
$selected-background-color: #F4F4F4;

// Bordas
$default-border-color: #DCDFE6;
$default-border-radius: 4px;
$alert-border-radius: 0px 4px 4px 0px;
$error-border-color: $danger;

// Fontes
$primary-font-color: #FFF;
$secondary-font-color: #282728;
$pink-font-color: #C42661;
$disabled-font-color: #C0C4CC;
$error-color: $danger;

// Container
$container-max-width: 1650px; 
 
/* Para utilizar o fonts-size:::: =  map-get($fonts-size, tamanho-que-desejar) */
$font-size: (
        xx-small: 10px,
        x-small: 12px,
        small: 13px,
        default: 14px,
        medium: 15px,
        big: 16px,
        bigger: 18px,
        large: 20px,
        x-large: 24px,
        xx-large: 36px
);

$font-size-icon: (
        xx-small: 13px,
        x-small: 16px,
        small: 18px,
        default: 19px,
        medium: 22px,
        large: 32px,
        x-large: 40px
);

$font-size-icon-small: (
        xx-small: 11px,
        x-small: 14px,
        small: 15px,
        default: 16px,
        medium: 18px,
        large: 28px,
        x-large: 34px
);

$font-weight: (
        normal: normal,
        medium: 500
);